<div class="list-group col-md-2 person-md">
  <a href="/org/main" class="list-group-item">Организации</a>
  <a href="/contragents/main" class="list-group-item">Контрагенты</a>
  <a href="#" class="list-group-item">Контракты</a>
</div>

<h1>Расскажите сами, что вы хотели бы видеть именно здесь. Может быть вообще все контракты? А может все контракты с какой-то информацией по ним?</h1>

