<div class="list-group col-md-2 person-md">
  <a href="/orgs/main" class="list-group-item">Организации</a>
  <a href="/contragents/main" class="list-group-item">Контрагенты</a>
  <a href="/contracts/main" class="list-group-item">Контракты</a>
  <a href="/payments/view" class="list-group-item">Счет</a>
</div>

<h2>Добрый день, <%= current_user.fio %>! Для изменения личных данных воспользуйтесь вкладкой "Личный кабинет".</h2>

