<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Контракты</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="all" class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span>  Архив</a>
</div>
<div class="col-md-10">
  <h3>Сортировать по</h3>
  <div class="col-md-6">
    <div class="checkbox">
      <label>
        <input type="checkbox"> Только бюджетные организации
      </label><br>
      <label>
        <input type="checkbox"> Только коммерческие организации
      </label><br>
      <hr>
      <label>
        <input type="checkbox" checked> Отопление
      </label><br>
      <label>
        <input type="checkbox" checked> Эксплуатационные услуги
      </label><br>
      <label>
        <input type="checkbox" checked> Вывоз ТБО
      </label><br>

    </div>
  </div>
  <div class="col-md-6">
    <div class="checkbox">
      <label>
        <input type="checkbox"> Дата окончания по возрастанию
      </label><br>
      <label>
        <input type="checkbox"> Дата окончания по убыванию
      </label><br>
      <hr>
      <label>
        <input type="checkbox" checked> ГВС
      </label><br>
      <label>
        <input type="checkbox" checked> ХВС
      </label><br>
      <label>
        <input type="checkbox" checked> Водоотведение ГВС
      </label><br>
      <label>
        <input type="checkbox" checked> Водоотведение ХВС
      </label><br>
    </div>
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Сортировать</button>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Номер</th>
      <th>Название организации</th>
      <th>Статус</th>
      <th>Дата окончания</th>
      <th>Подробнее</th>
    </tr>
    </thead>
    <tr>
      <td>123</td>
      <td>123</td>
      <td>Завершен</td>
      <td>01.01.2017</td>
      <td><a href="view_each"><span class="glyphicon glyphicon-cog"></span></a></td>
    </tr>
  </table>
</div>