<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Контракты</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="all" class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span>  Архив</a>
</div>
<div class="col-md-10">
  <form class="form-horizontal">
    <div class="form-group col-sm-8">
      <label for="exampleInputEmail1" class="col-sm-3 control-label">Название</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Название" readonly>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Номер</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Номер" readonly>
      </div>
    </div>
    <h3 class="col-sm-offset-2">Организация</h3>
    <div class="form-group">
      <label for="type-p" class="col-sm-2 control-label">Организация</label>
      <div class="col-sm-10">
        <select class="form-control" id="type-p" disabled>
          <option>Здесь будет выбор организации из системы и остальные поля по организации сами заполнятся</option>
        </select>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="type-p" class="col-sm-4 control-label">Юр./Физ. лицо</label>
      <div class="col-sm-8">
        <select class="form-control" id="type-p" disabled>
          <option>Юр. лицо</option>
          <option>Физ. лицо</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="type-o" class="col-sm-2 control-label">Тип организации</label>
      <div class="col-sm-4">
        <select class="form-control" id="type-o" disabled>
          <option>Бюджетная</option>
          <option>Коммерческая</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Полное название</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Полное название" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Сокращенное название</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Сокращенное название" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="type-o" class="col-sm-2 control-label">Использовать</label>
      <div class="col-sm-10">
        <select class="form-control" id="type-o" disabled>
          <option>Сокращенное название</option>
          <option>Полное название</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" disabled> Отделение иностранной организации
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Основной банковский счет</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Счет" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Юридический адрес</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Юридическиц адрес" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Фактический адрес</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Фактический адрес" readonly>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleInputEmail1" class="col-sm-7 control-label">Площадь</label>
      <div class="input-group col-sm-5">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Площадь" readonly>
        <span class="input-group-addon">м<sup>2</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleInputEmail1" class="col-sm-6 control-label">Кол-во сотрудников</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Сотрудников" readonly>
      </div>
    </div>
    <div class="form-group col-sm-5">
      <label for="exampleInputEmail1" class="col-sm-6 control-label">Кол-во посадочных мест</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Мест" readonly>
      </div>
    </div>
    <h3 class="col-sm-offset-2">Предмет договра</h3>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> ГВС
          </label><br>
          <label>
            <input type="checkbox"> ХВС
          </label><br>
          <label>
            <input type="checkbox"> Водоотведение ГВС
          </label><br>
          <label>
            <input type="checkbox"> Водоотведение ХВС
          </label><br>
          <label>
            <input type="checkbox"> Отопление
          </label><br>
          <label>
            <input type="checkbox"> Эксплуатационные услуги
          </label><br>
          <label>
            <input type="checkbox"> Вывоз ТБО
          </label><br>
        </div>
      </div>
    </div>
    <h4 class="col-sm-offset-2">!!!Это все будет появляться в зависимости от высталвенных галочек!!!</h4>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">ГВС</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="ГВС">
        <span class="input-group-addon">м<sup>3</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Тариф</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Тариф">
        <span class="input-group-addon">руб.</span>
      </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">ХВС</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="ХВС">
        <span class="input-group-addon">м<sup>3</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Тариф</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Тариф">
        <span class="input-group-addon">руб.</span>
      </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Водоотв. ГВС</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="ГВС">
        <span class="input-group-addon">м<sup>3</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Тариф</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Тариф">
        <span class="input-group-addon">руб.</span>
      </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Водоотв. ХВС</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="ХВС">
        <span class="input-group-addon">м<sup>3</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Тариф</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Тариф">
        <span class="input-group-addon">руб.</span>
      </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Отопление</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Отопление">
        <span class="input-group-addon">ГКал</span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Тариф</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Тариф">
        <span class="input-group-addon">руб.</span>
      </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Эксплуатацион. услуги</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Эксп. услуги">
        <span class="input-group-addon">м<sup>2</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Тариф</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Тариф">
        <span class="input-group-addon">руб.</span>
      </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Вывоз ТБО</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="ТБО">
        <span class="input-group-addon">м<sup>3</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="exampleInputEmail1" class="col-sm-4 control-label">Тариф</label>
      <div class="input-group col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Тариф">
        <span class="input-group-addon">руб.</span>
      </div>
    </div>
    <div class="form-group">
    </div>
    <h3 class="col-sm-offset-2">Цена договра</h3>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Цена договора с НДС</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Цена договора" readonly>
      </div>
    </div>
    <h3 class="col-sm-offset-2">Даты</h3>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата подписания договора</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Дата подписания" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Дата окончания действия договора</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Дата окончания действия договора" readonly>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="edit" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Редактировать</a>
        <a href="edit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Отправить на почту</a>
      </div>
    </div>
  </form>
</div>