<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Организации</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="dump" class="list-group-item"><span class="glyphicon glyphicon-trash"></span>  Удаленные</a>
</div>
<div class="col-md-10">
  <%= render 'contr' %>
</div>
