<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Контрагенты</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="dump" class="list-group-item"><span class="glyphicon glyphicon-trash"></span>  Удаленные</a>
</div>
<div class="col-md-10">
  <form class="form-horizontal">
    <div class="form-group col-sm-8">
      <label for="exampleInputEmail1" class="col-sm-3 control-label">Название</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Название">
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Код</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Код">
      </div>
    </div>
    <h3 class="col-sm-offset-2">Общие</h3>
    <div class="form-group">
      <label for="type-p" class="col-sm-2 control-label">Юр./Физ. лицо</label>
      <div class="col-sm-10">
        <select class="form-control" id="type-p">
          <option>Юр. лицо</option>
          <option>Физ. лицо</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Группа контрагентов</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Группа контрагентов">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Полное наименование</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Полное наименование">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">ИНН</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="ИНН">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">КПП</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="КПП">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Код по ОКПО</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Код по ОКПО">
      </div>
    </div>
    <h3 class="col-sm-offset-2">Адреса и телефоны</h3>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Юридический адрес</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Юридическиц адрес">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Фактический адрес</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Фактический адрес">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Телефон</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Телефон">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Другое</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Любая другая контактная информация">
      </div>
    </div>
    <h3 class="col-sm-offset-2">Банковский счет</h3>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Код</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Код">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Наименование</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Наименование">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Банк</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Банк">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Сохранить</button>
      </div>
    </div>
  </form>
</div>
