<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Контрагенты</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="dump" class="list-group-item"><span class="glyphicon glyphicon-trash"></span>  Удаленные</a>
</div>
<div class="col-md-10">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Название</th>
      <th>Полное название</th>
      <th>Подробнее</th>
      <th>Удалить</th>
    </tr>
    </thead>
    <% @conts.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.full_name %></td>
        <td>
          <%= link_to f do %>
            <span class="glyphicon glyphicon-cog"></span>
          <% end %>
        </td>
        <td>
          <%= link_to f, method: :delete, data: { confirm: 'Вы уверены?'} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>