<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Организации</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
</div>
<div class="col-md-10">
  <form class="form-horizontal">
    <div class="form-group col-sm-8">
      <label for="exampleInputEmail1" class="col-sm-3 control-label">Название</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Название" readonly>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Код</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Код" readonly>
      </div>
    </div>
    <h3 class="col-sm-offset-2">Основное</h3>
    <div class="form-group col-sm-6">
      <label for="type-p" class="col-sm-4 control-label">Юр./Физ. лицо</label>
      <div class="col-sm-8">
        <select class="form-control" id="type-p" disabled>
          <option>Юр. лицо</option>
          <option>Физ. лицо</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="type-o" class="col-sm-2 control-label">Тип организации</label>
      <div class="col-sm-4">
        <select class="form-control" id="type-o" disabled>
          <option>Бюджетная</option>
          <option>Коммерческая</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Полное название</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Полное название" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Сокращенное название</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Сокращенное название" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="type-o" class="col-sm-2 control-label">Использовать</label>
      <div class="col-sm-10">
        <select class="form-control" id="type-o" disabled>
          <option>Сокращенное название</option>
          <option>Полное название</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" disabled> Отделение иностранной организации
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Основной банковский счет</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Счет" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Юридический адрес</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Юридическиц адрес" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label">Фактический адрес</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Фактический адрес" readonly>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleInputEmail1" class="col-sm-7 control-label">Площадь</label>
      <div class="input-group col-sm-5">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Площадь" readonly>
        <span class="input-group-addon">м<sup>2</sup></span>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="exampleInputEmail1" class="col-sm-6 control-label">Кол-во сотрудников</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Сотрудников" readonly>
      </div>
    </div>
    <div class="form-group col-sm-5">
      <label for="exampleInputEmail1" class="col-sm-6 control-label">Кол-во посадочных мест</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Мест" readonly>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="edit" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Редактировать</a>
        <a href="edit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Отправить на почту</a>
      </div>
    </div>
  </form>
</div>
